@CHARSET "ISO-8859-1";

.btn-primary {
	
	color: #fff;
	background-color: rgb(231, 46, 65);
	border-color: rgb(233, 42, 96);
}
	.btn-primary.active.focus, 
	.btn-primary:hover,
	.btn-primary:focus,
	.btn-primary.active:focus, 
	.btn-primary.active:hover, 
	.btn-primary.focus:active,
	 .btn-primary:active:focus, 
	 .btn-primary:active:hover, .open > .dropdown-toggle.btn-primary.focus, .open > .dropdown-toggle.btn-primary:focus, .open > .dropdown-toggle.btn-primary:hover {
		color: #fff;
		background-color: #F07276;
		border-color: #FF1B1B;
	}