@font-face {
       font-family: 'love';
       src = url('loveRiot.ttf');
 
}

.top5 { margin-top:5px; }
.top7 { margin-top:7px; }
.top10 { margin-top:10px; }
.top15 { margin-top:15px; }
.top17 { margin-top:17px; }
.top30 { margin-top:30px; }
.pad-top-10{padding-top:10px;}
.pad-top-15{padding-top:15px;}

#footer
{
	background-color: #222;
}

.color_del_texto_blanco 
{
	color:white;
}

h1,a{
	font-family: 'Love Ya Like A Sister', cursive;
}
* {
	font-family: 'Quicksand', sans-serif;
}

.separador
{
	border-top:3px dotted rgba(245, 67, 67, 0.6);
	padding: 10px;
}

.background-pattern
{
	background-image: url('../images/patron-corazon.jpg');
	background-repeat: repeat;
}

#footer
{
	color:#F2F2F2;
	background-image: url('../images/patron-03.jpg');
	background-repeat: repeat;

}

.producto
{
	width: 250px;
	height: 350px;
	border-bottom: 3px solid rgba(245, 67, 67, 0.6);
	-moz-transition: border-bottom 0.2s ease;
	-webkit-transition: border-bottom 0.2s ease;
	display: inline-block;
	font-size:10px;
	margin-right:25px;
}
	.producto:hover
	{
		border-bottom:4px solid rgba(245, 67, 67, 0.6);
	}
	.precio{
		font-size: 20px;
		position:relative;
		bottom:2px;
		right:10px;
		text-align: center;
	}
	


